body {
	font-family: sans-serif;
}

.group-list {
}

.group {
	background-color: #eee;
}

.group-description {
	display: inline;
}

.group-subs {
	background-color: #ccc;
	margin-left: 10px;
}

.sub {
}

.sub-name {
	display: inline;
}

.sub-description {
	display: inline;
}

.message-list {
	background-color: #aaa;
	margin-left: 10px;
}

.message {
}

.message-header {
}

.expander {
	display: inline;
}

.subject {
	display: inline;
}

.author {
	display: inline;
}

.post_date {
	display: inline;
}

.reply_count {
	display: inline;
}

.newest_reply {
	display: inline;
}

.message-body {
	margin-left: 20px;
	color: #a8a8a8;
	background-color: black;
	white-space: pre;
	font-family: monospace;
}

.replies {
	margin-left: 20px;
}

.newest_reply_date {
	align: left;
	display: inline;
}

.reply_count {
	align: left;
	display: inline;
}

