body {
	font-family: sans-serif;
}

.group-list {
}

.group {
	background-color: #eee;
}

.group-description {
}

.group-subs {
	background-color: #ccc;
	margin-left: 10px;
}

.sub {
}

.sub-name {
}

.sub-description {
}

.message-list {
	background-color: #aaa;
	margin-left: 10px;
}

.message {
	font-weight: normal;
	font-style: normal;
}

.message_is_new {
	font-weight: bold;
	font-style: normal;
}

.message_inherit_new {
	font-weight: normal;
	font-style: italic;
}

.message_is_new_inherit_new {
	font-weight: bold;
	font-style: italic;
}

.message-header {
}

.expander {
}

.subject {
}

.author {
}

.post_date {
}

.reply_count {
}

.newest_reply_date {
}

.message-body {
	font-weight: normal;
	font-style: normal;
	margin-left: 30px;
	background-color: #ccc;
}

.message-body pre {
	color: #a8a8a8;
	background-color: black;
	display: table;
	margin: 0px;
}

.message-body pre a {
	color: inherit;
	font-weight: bold;
	text-decoration: inherit;
}

.replies {
	margin-left: 20px;
}

.load_more_messages {
	background-color: #999;
}

.ansi_toggle {
	background-color: #999;
}

.quote {
}

.quote-expander {
	font-size: 50%;
	margin: 0px;
	margin-left: 20px;
}

.quote blockquote {
	border-width: 1px;
	border-color: black;
	border-style: dashed;
	margin: 5px;
	margin-left: 20px;
	margin-top: 0px;
}

.linkified {
}
