body {
	font-family: sans-serif;
}

.group-list {
}

.group {
	background-color: #eee;
}

.group-description {
}

.group-subs {
	background-color: #ccc;
	margin-left: 10px;
}

.sub {
}

.sub-name {
}

.sub-description {
}

.message-list {
	background-color: #aaa;
	margin-left: 10px;
}

.message {
	font-weight: normal;
	font-style: normal;
}

.message_is_new {
	font-weight: bold;
	font-style: normal;
}

.message_inherit_new {
	font-weight: normal;
	font-style: italic;
}

.message_is_new_inherit_new {
	font-weight: bold;
	font-style: italic;
}

.message-header {
}

.expander {
}

.subject {
}

.author {
}

.post_date {
}

.reply_count {
}

.newest_reply {
}

.message-body {
	font-weight: normal;
	font-style: normal;
	margin-left: 20px;
	color: #a8a8a8;
	background-color: black;
	white-space: pre;
	font-family: monospace;
	width: 80em;
}

.reply_count {
}

.newest_reply_date {
}

.replies {
	margin-left: 20px;
}
