*.ssjs gitlab-language=javascript
*.js   text
*.ssjs text
*.src  text
*.inc  text
*.ini  text
*.cfg  text
*.html text
*.xml  text
*.txt  text
*.TXT  text
*.json text
*.bat  text eol=crlf
*.mak  text
*.mk   text
makefile text
Makefile text
GNUmakefile text
*.bin  -text
*.cnf  -text
*.ans text eol=crlf
*.ANS text eol=crlf
*.asc text eol=crlf
*.msg text eol=crlf

