**/CVS
**/.vs
**/Debug
**/Release
**/*.vcxproj.user
.#*
clang.*
gcc.*
*.debug
*.release
*.debug_mt
*.release_mt
*.obj
*.exe
*.lib
*.map
*.dcu
*.drc
*.tds
src/sbbs3/ctrl/sbbsctrl.mak
src/cscope.files
3rdp/src
localdefs.mk
data
node2
node3
node4
*.?.cnf
ctrl/recycle
exec/*.bin
exec/*.so
