#include "windows.h"

/* Manifest */
#ifdef __GNUC__
1 RT_MANIFEST "ciolib.manifest"
#endif

/* ========================================================================= */
/* Icons.                                                                    */
/* ========================================================================= */

2 ICON	"syncicon64.ico"
