/* ========================================================================= */
/* Icons.                                                                    */
/* ========================================================================= */

1	ICON	"syncicon64.ico"
