#include "windows.h"

/* Manifest */
1 RT_MANIFEST "ciolib.manifest"

/* ========================================================================= */
/* Icons.                                                                    */
/* ========================================================================= */

2 ICON	"syncicon64.ico"
