<!--Document Title-->

<!--
The first comment in an XJS or HTML document will be used as its title in the
"pages" sidebar module (where the "Home" and "Forum" links appear.)  In the
comment above, replace "Document Title" with whatever you want your page to
be called, or "HIDDEN:Title" to prevent it from appearing in the list.
-->

<html>

<head></head>

<body class="background font">
<span class="title">HTML Document</span>
<br />
This is an HTML document.  Use this template as a starting point for creating
other HTML content for your website.
</body>

</html>
