; Message list interface style - Valid values are Lightbar and Traditional
listInterfaceStyle=Lightbar
reverseListOrder=false
; Message reader interface style - Valid values are Scrollable and Traditional
; The scrollable interface only works if the user's client supports ANSI.
readerInterfaceStyle=Scrollable
; Message reader interface style for messages with ANSI content - Valid values
; are Scrollable and Traditional
; The scrollable interface only works if the user's client supports ANSI.
readerInterfaceStyleForANSIMessages=Scrollable
displayBoardInfoInHeader=false
promptToContinueListingMessages=false
promptConfirmReadMessage=false
; msgListDisplayTime specifies whether to use the import time or the written
; time in the message lists.  Valid values are imported and written
msgListDisplayTime=written
; In the message area lists (for changing to another message area), the
; date & time of the last-imported message will be shown.
; msgAreaList_lastImportedMsg_time specifies whether to use the
; import time or the written time for the last-imported message in the message
; area lists.  Valid values are imported and written
msgAreaList_lastImportedMsg_time=written
; Whether or not to start in message list mode or reader mode
startMode=Reader
; The number of spaces to use for tab characters in enhanced reader mode
tabSpaces=3
; Whether or not to pause at the end of a newscan
pauseAfterNewMsgScan=true
; When reading messages (but not for a newscan, etc.): Whether or not to ask
; the user whether to post on the sub-board in reader mode after reading the
; last message instead of prompting to go to the next sub-board.  This is
; like the stock Synchronet behavior.
readingPostOnSubBoardInsteadOfGoToNext=false
; The filename (without the extension) and maximum number of lines to use for
; the header file to display above the message areas in the message chooser
areaChooserHdrFilenameBase=areaChgHeader
areaChooserHdrMaxLines=6

; Whether or not to display user avatars in the message header
displayAvatars=true
; Whether or not to right-justify avatars.  False means left-justify.
rightJustifyAvatars=true

; How to sort the message list:
; Received: By date/time received (fastest)
; Written: By date/time written (takes time due to sorting)
msgListSort=Received

; Whether or not to convert Y-style MCI attribute codes to Synchronet attribute codes
convertYStyleMCIAttrsToSync=true

; Whether or not to prepend the subject for forwarded messages with "Fwd: "
prependFowardMsgSubject=true

; For indexed reader mode, whether or not to enable caching the message
; header lists for performance
enableIndexedModeMsgListCache=true

; An index of a quick-validation set from SCFG > System > Security Options > Quick-Validation Values
; to be used by the sysop to quick-validate a local user who has posted a message while reading the
; message.  This index is 0-based, as they appear in SCFG. Normally there are 10 quick-validation
; values, so valid values for this index are 0 through 9. If you would rather DDMsgReader display a
; menu of quick-validation sets, you can set this to an invalid index (such as -1).
quickUserValSetIndex=-1

; For the sysop, whether to save all message headers when saving a message to the BBS
; PC. This could be a boolean (true/false) or the string "ask" to prompt every time
saveAllHdrsWhenSavingMsgToBBSPC=false

; The theme file name (for colors, strings, etc.)
themeFilename=DefaultTheme.cfg
