# Synchronet BBS startup file - Setup instructions
#
# 1. Modify the environment variables to match your SBBS setup
# 2. Modify User and Group. If you run this as root you don't need
# the ExecStartPre line.
# 3. Modify the ExecStart and ExecStartPre paths to match your
# Synchronet setup.
# 4. Place this file in the correct location. For Ubuntu 16.04
# you should place it in /lib/systemd/system
# 5. Enable the service with "systemctl enable sbbs"
# 6. To run the service without restarting "systemctl start sbbs"

[Unit]
Description=Synchronet BBS service
Documentation=man:sbbs
After=syslog.target network.target

[Service]
Type=forking
Environment=SBBSROOT=/sbbs SBBSCTRL=/sbbs/ctrl
User=sbbs
Group=sbbs
PermissionsStartOnly=true
ExecStartPre=/sbin/setcap 'cap_net_bind_service=+ep' /sbbs/src/sbbs3/gcc.linux.*.exe.*/sbbs
ExecStart=/sbbs/exec/sbbs d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
