/* $Id: default.css,v 1.9 2011/12/19 06:07:53 deuce Exp $ */

/* This is the default CSS file */


body { 
    font-size:12px;; 
    font-family: Arial,sans-serif; 
    color: #333333; 
    line-height: 1; 
    margin: 0px; 
    padding: 0px; 
    background: #cccccc url("/images/default/bg_grad.jpg") fixed; 
}

li {
	list-style: none;
}

/* Main Anchor Style */

a { 
    color: #000099;  
    font-weight: bold; 
    text-decoration:none; 
}
a:visited { 
    color: #000099;  
    font-weight: bold; 
    text-decoration:none; 
}

a:hover { 
    text-decoration: underline; 
}

h2 { 
    text-align:left; 
    padding-top: 5px; 
}

/* Site/BBS Name */

#siteName { 
    margin: 0px; 
    padding: 14px 0px 8px 30px; 
    color: #ffffff; 
    font-weight: normal; 
    font-size: x-large; 
}

#siteLogo { 
    margin: 0px; 
    padding: 0px 0px 0px 0px;
}

/* User Greeting */

#Greeting { 
    font: 9px Verdana,sans-serif; 
    position: absolute; 
    top: 10px; 
    right: 30px; 
    color: #FFFFFF; 
}

.editprofile {
	font-size: 8px;
}

/* Top Navigation (Breadcrumbs) */

#Top_Nav { 
    position: relative; 
    width: 90%; 
    min-width: 640px; 
    height: 32px; 
    color: #cccccc; 
    padding: 0px; 
    margin-left: auto; 
    margin-right: auto; 
    background-image:  url("/images/default/glbnav_background.gif"); 
}

td.ltn { 
    text-align:left; 
    width:1%; 
    background-color: #cccccc; 
    background-image: url("/images/default/tnav_bg.gif"); 
}

td.tn { 
    background-color: #cccccc; 
    background-image: url(/images/default/tnav_bg.gif); 
}

td.rtn { 
    text-align:right; 
    width:1%; 
    background-color: #cccccc; 
    background-image: url(/images/default/tnav_bg.gif); 
}

#Top_Nav img { 
    margin-bottom: -4px; 
}

#tnl { 
    position: absolute; 
    top: 0px; 
    left:0px; 
}

#tnr { 
    position: absolute; 
    top: 0px; 
    right:0px; 
}

#Top_Link { 
    position: absolute; 
}

.terror { 
    font-size: small; 
    color: #FF0000; 
    font-weight: bold; 
    margin: 0px; 
    padding: 2px 5px 4px 5px; 
}

#tlink { 
	top: 52px;
	left: 54px;
	float: left;	
    font-size: small; 
    color: #7788ff; 
    font-weight: bold; 
    margin: 0px; 
    padding: 2px 5px 4px 5px; 
}

div#tlink a:visited {     
    font-size: small; 
    color: #000000; 
    font-weight: bold; 
    margin: 0px 5px 0px -5px; 
    padding: 2px 5px 4px 5px; 
    border-right: 1px solid #8fb8bc; 
    text-decoration:none; 
}

div#tlink a {     
    font-size: small; 
    color: #000000; 
    font-weight: bold; 
    margin: 0px 5px 0px -5px; 
    padding: 2px 5px 4px 5px; 
    border-right: 1px solid #8fb8bc; 
    text-decoration:none; 
}

div#tlink a.tlink2, a.tlink2:visited {    
    color: #000000; 
    font-weight: bold; 
    margin: 0px; 
    padding: 2px 5px 4px 5px; 
    text-decoration:none; 
}

div#tlink a:hover {  
    background-image:  url("/images/default/tnav_selected.gif"); 
    text-decoration: underline;  
} 

div#tlink a.tlink2:hover {    
    text-decoration: underline; 
}

#MastHead { 
    position: absolute; 
    top: 0px; 
    left: 2%; 
    right: 2%; 
    width:95.6%; 
}

#pageName { 
    padding: 0px 0px 0px 0px; 
    margin: 0px; 
    border-bottom:1px solid #ccd2d2; 
}

#pageTitle { 
    text-align:center; 
}

#tl { 
    position:absolute; 
    top: -1px; 
    left: -1px; 
    margin: 0px; 
    padding: 0px; 
    z-index: 100; 
}

#tr { 
    position:absolute; 
    top: -1px; 
    right: -1px; 
    margin: 0px; 
    padding: 0px; 
    z-index: 100; 
}

/* Site Navigation (Left Nav) */

#pageNav {
    background-image:url(/images/default/sync_pbgj1_grey_bg.gif); 
    background-position: bottom left; 
    background-repeat:no-repeat; 
    width:190px; 
    padding-bottom: 90px; 
    padding-top:10px; 
    background-color: #eeeeee; 
    font: small Verdana,sans-serif;  
    margin: 0px; 
}

#sectionLinks { 
    position: relative;
    margin-right: 10px;
    padding: 0px 0px 0px 0px; 
}

#sectionLinks ul, li{
    margin: 0px;
    list-style: none; 
}

#sectionLinks a { 
    display: block;
    text-align: left;
    border-top: 1px solid #ffffff; 
    border-left: 1px solid #ffffff; 
    border-bottom: 1px solid #000000; 
    border-right: 1px solid #000000; 
    font-size: 12px;
    font-weight: bold;
    padding: 3px 3px 3px 10px;
    color: #21536A; 
    text-decoration:none; 
}

#sectionLinks a:visited { 
    border-top: 1px solid #ffffff; 
    border-left: 1px solid #ffffff; 
    border-bottom: 1px solid #000000; 
    border-right: 1px solid #000000; 
}


#sectionLinks a:hover{  
    border-top: 1px solid #000000; 
    border-left: 1px solid #000000; 
    border-right: 1px solid #ffffff; 
    border-bottom: 1px solid #ffffff;  
    background-color: #ddeeff; 
    background-image: none; 
    font-weight: bold; 
    text-decoration: underline; 
}

#sectionSubLinks {
    margin: 0px; 
    padding: 0px 20px 0px 10px; 
}

#sectionSubLinks a:link, #sectionSubLinks a:visited { 
    display: block; 
    border-top: 1px solid #ffffff; 
    border-left: 1px solid #ffffff; 
    border-bottom: 1px solid #000000; 
    border-right: 1px solid #000000; 
    font-size:10px;; 
    padding: 3px 30px 3px 10px; 
    color: #7788ff; 
    text-decoration: none; 
}

#sectionSubLinks a:hover { 
    border-top: 1px solid #000000; 
    border-left: 1px solid #000000; 
    border-right: 1px solid #ffffff; 
    border-bottom: 1px solid #ffffff;  
    background-color: #ddeeff; 
    background-image: none; 
    font-weight: bold; 
    text-decoration: underline; 
}

/* Left Nav Nodelist */

table.left_nodelist { 
    width: 95%; 
}

td.left_nodelist { 
    font-size:8pt; 
}

/* Home Page */

table.welcome_main { 
    margin-left:auto; 
    margin-right: auto; 
    border-width: 0px; 
}

td.main { 
    width:100%; 
    background-color: #dddddd; 
    border-left: 3px solid #ccd2d2; 
    padding-left: 15px; 
    padding-right: 15px; 
    border-right: 3px solid #ccd2d2; 
}

table.main_stats { 
    font-size: 10pt; 
    margin-left: auto; 
    margin-right: auto; 
    border-style:solid; 
    border-width:thin; 
    border-color: #cccccc; 
}

table.main_stats_left { 
    text-align:left; 
    font-size:medium; 
    border-style:solid; 
    border-width:thin; 
    border-color: #cccccc; 
}

td.main_stats { 
    text-align: right; 
    padding: 2px; 
    background-color:#cccccc; 
}

td.main_stats_bold { 
    text-align: right; 
    color: #7788FF; 
    font-weight:bold; 
    padding: 2px; 
    background-color:#cccccc; 
}

/*  Who's Online */

table.main_nodelist { 
    margin-left: auto; 
    margin-right: auto; 
    width: 95%; 
    background-color: #cccccc; 
}

th.main_nodelist { 
    padding: 2px; 
    background-color: #aabbcc; 
    text-align: left; 
    font-size: 12pt; 
}

td.main_nodelist { 
    padding: 2px; 
    background-color: #cccccc; 
    font-size: 10pt; 
}

/* System/User Info */

table.userstats { 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

td.userstats { 
    background-color: #dddddd; 
} 

table.sysinfo { 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #cccccc; 
}

td.sysinfo { 
    background-color: #dddddd; 
} 

/* Last Callers */

table.lastcallers {
    padding: 0px; 
    border-top: 2px solid #000000; 
    border-left: 2px solid #000000; 
    border-bottom: 2px solid #ffffff; 
    border-right: 2px solid #ffffff; 
    font-size: 10pt; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb;
}



/* User Listing */

table.userlist { 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

th.userlist { 
    background-color: #dddddd; 
    color: black; 
}

td.userlist { 
    background-color: #dddddd; 
}

td.userlistright { 
    text-align: right; 
    background-color: #dddddd; 
}

a.userlist { 
    text-decoration: none; 
    color: black; 
}

a.userlist:hover { 
    text-decoration: underline; 
}

/* Change Theme */

table.theme { 
    width: 45%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

td.theme { 
    text-align: center; 
    background-color: #dddddd; 
}

input.theme { 
    text-align: center; 
    background-color: black; 
    color: #aaaaaa; 
}

/* Message Styles */

/* Group Listing */

table.grouplist { 
    font-size: small; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

th.grouplist { 
    background-color: #dddddd; 
    color: black; 
}

td.grouplist { 
    background-color: #dddddd; 
}

/* Subs Listing */

table.sublist { 
    font-size: 10pt; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

th.sublist { 
    background-color: #dddddd; 
    color: black; 
}

th.sublistlft { 
    text-align: left; 
    background-color: #dddddd; 
    color: black; 
}

td.sublist { 
    background-color: #dddddd; 
}

td.sublistright { 
    text-align: right; 
    background-color: #dddddd; }

/* Sub Information */

table.subinfo { 
    width: 45%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

tr.subinfo { 
    white-space: nowrap;  
    background-color: #dddddd; 
}

td.subinfbold { 
    width: 1%; 
    font-weight: bold; 
}

td.subinfo { 
    white-space: nowrap; 
    font-weight: bold; 
}
td.subinfonwr { 
    white-space: nowrap; 
}

/* Messages Listing */

table.msglist {
    border-top: 2px solid #000000; 
    border-left: 2px solid #000000; 
    border-bottom: 2px solid #ffffff; 
    border-right: 2px solid #ffffff; 
    padding: 1px;
    font-weight: normal; 
    font-size: 10pt; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #888888; 
}

tr.msglist1 { 
    padding: 1px;
    background-color: #aaaaaa;
}

tr.msglist2 { 
    padding: 1px; 
    background-color: #cccccc;
}

th.msglist { 
    background-color: #cccccc; 
    color: black; 
}

a.msglist { 
    color: #6600ff; 
    text-decoration: none; 
}

a.msglist:hover { 
    text-decoration: underline; 
}

a.msglist:visited { 
    color: #660099;
    font-weight: normal; 
}

a.msglistnu { 
    color:#000099; 
    text-decoration: none; 
}

a.msglistnu:hover { 
    color:#000099; 
    text-decoration: underline; 
}

/* Read Messages */

table.msg { 
    color: black; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

tr.msg {  
    background-color: #dddddd; 
}

td.msg { 
    padding: 4px; 
}

td.msgnavleft { 
    width: 1%;  
    background-color: #dddddd; 
    text-align: left; 
    padding: 4px; 
}

td.msgnavmid { 
    width: 25%; 
    text-align: center;  
    background-color: #dddddd;
    padding: 4px;
}

td.msgnavright { 
    width: 1%;  
    background-color: #dddddd; 
    text-align: right; 
    padding: 4px; 
}

td.msgheader { 
    font-weight: bold; 
}

p.msgcenter { 
    text-align: center; 
}

table.msg2 { 
    color: black; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0px; 
    margin: 0px; 
}

/* Message Posting */

table.postmsg { 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
    font-size:10pt; 
}

td.postmsg { 
    background-color: #dddddd; 
}

textarea.postmsg { 
    background-color: black; 
    color: #aaaaaa; 
}

input.postmsg { 
    background-color: black; 
    color: #aaaaaa; 
}

table.posted { 
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; 
}

td.posted { 
    background-color: #dddddd; 
}

p.posted { 
    text-align: center; 
}

/* Message Replying */

table.replymsg { 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #bbbbbb; font-size:10pt;
}

td.replymsg { 
    background-color: #dddddd; 
}

textarea.replymsg { 
    background-color: black; 
    color: #aaaaaa; 
}

input.replymsg { 
    background-color: black; 
    color: #aaaaaa; 
}

pre { 
    background-color: black; 
    color: #aaaaaa; 
    font-family: monospace; 
    padding: 3px; 
    font-size:11pt; 
}

pre.leftalign { 
    background-color: black; 
    color: #aaaaaa; 
    text-align: left; 
    padding: 3px; 
    font-size: 11pt; 
}

pre.leftalignwht { 
    background-color: white; 
    color: #000000; 
    text-align: left; 
    padding: 3px; 
    font-size:11pt; 
}

.txtbodywht { 
background-color: #ffffff;
}

.txtbody { 
background-color: #000000;
}


/* Footer */

.footer { 
    width: 90%; 
}

a.footer { 
    font-size: 8pt;
    font-weight: normal; 
    text-decoration: none; 
}

a.footer:hover {
    text-decoration: underline; 
}

/* FPT (ftp_html.js) Styles */

h1.ftp_title {
 font-size: 20pt;
 font-style: italic;
 color: white;
}

table.ftp_stats { 
    text-align:left; 
    font-size:medium; 
    border-style:solid; 
    border-width:thin; 
    border-color: #cccccc; 
}

th.ftp_stats { 
    text-align: right; 
    padding: 2px; 
    background-color:#777777; 
}

a.ftp_dirlist {
    font-size: 10pt;
    text-decoration: none;
    color: black;
}

a.ftp_dirlist:hover { 
    text-decoration:underline;
}

a.ftp_dirlist:visited {
 color: #888888;
}

a.ftp_dirlist_sm {
    font-size: 8pt;
    text-decoration: none;
    color: black;
}

a.ftp_dirlist_sm:hover { 
    text-decoration:underline;
}

a.ftp_dirlist_sm:visited {
    color: #888888;
}

th.ftp_dirlist_hdr {
    background-color: #8899aa;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 8pt;
}

th.ftp_dirlist_hdr_rt {
    background-color: #8899aa;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 8pt;
}

a.ftp_dirlist_hdr {
 color: black;
 text-decoration: none;
}

a.ftp_dirlist_hdr:hover {
 text-decoration: underline;
}

th.ftp_dirlist_ftr {
    background-color: #8899aa;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-size: 8pt;
}

table.ftp_dirlist { 
    color:black; 
    text-align:left; 
    font-weight: normal; 
    font-size: 10pt; 
    background-color: #cccccc; 
}

tt.ftp_dirlist {
    font-size: 9pt;
    vertical-align: top;
    padding-left: 5px;
}

th.ftp_dirlist { 
    font-size: 10pt;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

td.ftp_dirlist { 
    font-size: 8pt;
    color: black;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px; 
}

pre.ftp_desc { 
    background-color: #cccccc; 
    color:black;
    font-size: 8pt;
    padding-left: 5px;
    padding-right: 5px; 
}

div.ftp_ftr {
 font-size: 8pt;
}

ol.externals li {
	list-style: decimal;
}

p.disclaimer {
	font-size: 9pt;
}
