a:link { color: #42C8FD; }
a:visited { color: #2CE4D8; }
a:hover { color: #ffffff; }
 
body { background-color: #0080f0; color: white; font-family: Arial, Helvetica, sans-serif; }

p.title { text-align: center; font-size: x-large; font-weight: bolder; }

table.main { width: 33%; background-color: #117766; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; }
td.main { background-color: #0040f0; }

table.info { width: 33%; background-color: #117766; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; }
td.info { background-color: #0040f0; }

table.welcome { width: 1%; background-color: #117766; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; }
td.welcome { background-color: #0040F0; }

pre { background-color: black; color: #aaaaaa; font-family: monospace; }
pre.leftalign { background-color: black; color: #aaaaaa; text-align: left; }

table.newuser { margin-left: auto; margin-right: auto; background-color: #117766; }
td.newuser { background-color: #0040f0; }

table.userlist { margin-left: auto; margin-right: auto; background-color: #117766; }
th.userlist { background-color: #0040f0; color: black; }
td.userlist { background-color: #0040f0; }
td.userlistright { text-align: right; background-color: #0040f0; }
a.userlist { text-decoration: none; color: black; }
a.userlist:hover { text-decoration: underline; }

table.userstats { margin-left: auto; margin-right: auto; background-color: #117766; }
td.userstats { background-color: #0040f0; } 

table.sysinfo { margin-left: auto; margin-right: auto; background-color: #117766; }
td.sysinfo { background-color: #0040f0; } 

table.grouplist { margin-left: auto; margin-right: auto; background-color: #117766; }
th.grouplist { background-color: #0040f0; color: black; }
td.grouplist { background-color: #0040f0; }

table.sublist { margin-left: auto; margin-right: auto; background-color: #117766; }
th.sublist { background-color: #0040f0; color: black; }
th.sublistlft { text-align: left; background-color: #0040f0; color: black; }
td.sublist { background-color: #0040f0; }
td.sublistright { text-align: right; background-color: #0040f0; }

table.msglist { margin-left: auto; margin-right: auto; background-color: #117766; }
tr.msglist1 { background-color: #0060f1; }
tr.msglist2 { background-color: #0040f1; }
th.msglist { background-color: #0040f0; color: black; }
a.msglistnu { text-decoration: none; }

table.subinfo { width: 45%; margin-left: auto; margin-right: auto; background-color: #117766; }
tr.subinfo { white-space: nowrap;  background-color: #0040f0; }
td.subinfbold { width: 1%; font-weight: bold; }
td.subinfo { white-space: nowrap; font-weight: bold; }
td.subinfonwr { white-space: nowrap; }

body.msg { background-color: black; }
table.msg { color: black; margin-left: auto; margin-right: auto; background-color: #117766; }
tr.msg {  background-color: #0040f0; }
td.msgnavleft { width: 25%;  background-color: #0040f0; text-align: left; }
td.msgnavmid { width: 25%; text-align: center;  background-color: #0040f0; }
td.msgnavright { width: 25%;  background-color: #0040f0; text-align: right; }
td.msgheader { font-weight: bold; }
object.msg { margin: 0%; background-color: black; color: #aaaaaa; }
p.msgcenter { text-align: center; }

table.postmsg { margin-left: auto; margin-right: auto; background-color: #117766; }
td.postmsg { background-color: #0040f0; }
textarea.postmsg { background-color: black; color: #aaaaaa; }
input.postmsg { background-color: black; color: #aaaaaa; }

table.posted { margin-left: auto; margin-right: auto; background-color: #117766; }
td.posted { background-color: #0040f0; }
p.posted { text-align: center; }

table.replymsg { margin-left: auto; margin-right: auto; background-color: #117766; }
td.replymsg { background-color: #0040f0; }
textarea.replymsg { background-color: black; color: #aaaaaa; }
input.replymsg { background-color: black; color: #aaaaaa; }

p.navigation { text-align: center; font-style: italic; font-weight: bold; }
a.navigation { font-style: normal; font-weight: normal; }
a.navigation:hover { font-style: normal; font-weight: normal; }


