; $Id: alias.cfg,v 1.4 2013/01/11 08:04:48 rswindell Exp $

; Alias                 	User Name, number, or external forwarding address
; -------------------		-------------------------------------------------
; wildcards (*) are allowed	wildcards (*) are allowed
; can be <name>			can be <name>
; or <name>@<address>		or <name>@<address> 
;				or <name>@<address>:<port>
;                               or sub:<code>

sysop				1
root				1
abuse				1
sysadmin			1
webmaster			1
postmaster			1
