;format:
;protocol	port	max_clients	options(hex) 	command-line
NNTP		119	10		0		nntpservice.js
HTTP	  	8080 	10		0 		nodelist-html.js -l -r 30
Finger		79	10		800		fingerservice.js
UDP-Finger	79	10		801		fingerservice.js
Gopher		70	10		0		gopherservice.js

; this next service is just sample static service
;sbbs		5885	10		802		sbbsservice.js