[Desktop Entry]
Type=Application
Name=SyncTERM
Comment=ANSI-BBS Terminal
Comment[es]=Emulador de Terminal ANSI-BBS
Icon=syncterm
Exec=syncterm %u
Categories=TerminalEmulator;Network;Dialup;
Keywords=BBS;Terminal;Ansi;
