/* OpenDoors 6.10
 * (C) Copyright 1991 - 1997 by Brian Pirie. All Rights Reserved.
 *
 *
 *        File: ODRes.rc
 *
 * Description: OpenDoors resource script. Contains defintions for OpenDoors
 *              menus, dialog boxes, icons, bitmaps, accelerator table and
 *              string resources. This file is only applicable when building
 *              the Win32 version of OpenDoors.
 *
 *   Revisions: Date          Ver   Who  Change
 *              ---------------------------------------------------------------
 *              Dec 02, 1995  6.00  BP   Created.
 *              Jan 01, 1996  6.00  BP   Changed copyright to 1996 in About Box
 *              Jan 20, 1996  6.00  BP   Added login dialog box.
 *              Jan 21, 1996  6.00  BP   Added message dialog box.
 *              Jan 21, 1996  6.00  BP   Renamed opendoor.ico to odapp.ico.
 *              Feb 19, 1996  6.00  BP   Changed version number to 6.00.
 *              Mar 03, 1996  6.10  BP   Begin version 6.10.
 *              Mar 14, 1996  6.10  BP   Added configuration menu option.
 */

#include "windows.h"
#include "ODRes.h"


/* ========================================================================= */
/* The OpenDoors frame window menu.                                          */
/* ========================================================================= */

IDR_FRAME_MENU MENU DISCARDABLE 
BEGIN
    POPUP "&Door"
    BEGIN
        MENUITEM "C&onfigure..."                ID_DOOR_CONFIG
        MENUITEM "&Chat Mode\tAlt+C",          ID_DOOR_CHATMODE
        MENUITEM SEPARATOR
        MENUITEM "User &Keyboard Off\tAlt+K",  ID_DOOR_USERKEYBOARDOFF
        MENUITEM "Sysop &Next\tAlt+N",         ID_DOOR_SYSOPNEXT
        MENUITEM SEPARATOR
        MENUITEM "&Hangup\tAlt+H",             ID_DOOR_HANGUP
        MENUITEM "&Lockout\tAlt+L",            ID_DOOR_LOCKOUT
        MENUITEM SEPARATOR
        MENUITEM "E&xit To BBS\tAlt+X",        ID_DOOR_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Toolbar",                    ID_VIEW_TOOL_BAR, CHECKED
        MENUITEM "Status Bar",                  ID_VIEW_STAT_BAR, CHECKED
    END
    POPUP "&User"
    BEGIN
        MENUITEM "Add &One Minute\tShift+Up Arrow",   ID_USER_ADDONEMINUTE
        MENUITEM "Add &Five Minutes\tAlt+Up Arrow", ID_USER_ADDFIVEMINUTES
        MENUITEM SEPARATOR
        MENUITEM "&Subtract One Minute\tShift+Down Arrow", 
                                                ID_USER_SUBTRACTONEMINUTE
        MENUITEM "S&ubtract Five Minutes\tAlt+Down Arrow", 
                                                ID_USER_SUBTRACTFIVEMINUTES
        MENUITEM SEPARATOR
        MENUITEM "&Inactivity Timer",           ID_USER_INACTIVITYTIMER
        , CHECKED
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Contents\tF1"                ID_HELP_CONTENTS
        MENUITEM "&About...",                   ID_HELP_ABOUT
    END
END


/* ========================================================================= */
/* Dialog Boxes.                                                             */
/* ========================================================================= */

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 217, 89
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            IDI_OPENDOORS,-1,6,7,18,20
    LTEXT           "BBS Door Program",IDC_DOORNAME,32,5,120,8
    LTEXT           "",IDC_VERSION,32,14,123,7
    LTEXT           "",IDC_COPYRIGHT,32,23,119,8
    LTEXT           "Written using:",-1,31,48,69,8
    LTEXT           "OpenDoors 6.24, Win32 Edition",-1,31,57,127,8
    LTEXT           "Copyright \251 1991-1997 by Brian Pirie.",-1,31,
                    66,139,8,SS_NOPREFIX
    LTEXT           "All Rights Reserved.",-1,31,75,90,8
    DEFPUSHBUTTON   "OK",IDOK,161,6,50,14
END

IDD_LOGIN DIALOG DISCARDABLE  0, 0, 194, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "OpenDoors"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "This program has been started in local",-1,6,6,128,8
    LTEXT           "mode, independently of a BBS system.",-1,6,14,128,8
    LTEXT           "When operating in this mode, you may",-1,6,22,128,8
    LTEXT           "specify what name you should be",-1,6,30,128,8
    LTEXT           "known to the program by.",-1,6,38,128,8
    LTEXT           "Your &name:",-1,6,52,42,8
    EDITTEXT        IDC_USER_NAME,6,61,121,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,138,6,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,138,23,50,14
END

IDD_MESSAGE DIALOG DISCARDABLE  0, 0, 186, 31
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "OpenDoors"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            IDI_MESSAGE_INFO,IDC_MESSAGE_ICON,6,6,18,20
    LTEXT           "",IDC_MESSAGE_TEXT1,32,10,149,8
END


/* ========================================================================= */
/* Icons.                                                                    */
/* ========================================================================= */

IDI_OPENDOORS           ICON    DISCARDABLE     "odapp.ico"
IDI_MESSAGE_INFO        ICON    DISCARDABLE     "odinfo.ico"


/* ========================================================================= */
/* Bitmaps.                                                                  */
/* ========================================================================= */

IDB_TOOLBAR             BITMAP  DISCARDABLE     "toolbar.bmp"


/* ========================================================================= */
/* Accelerator Table.                                                        */
/* ========================================================================= */

/* Dumb dumb dumb.
IDR_FRAME ACCELERATORS DISCARDABLE 
BEGIN
    "C",            ID_DOOR_CHATMODE,       VIRTKEY, CONTROL, NOINVERT
    "H",            ID_DOOR_HANGUP,         VIRTKEY, CONTROL, NOINVERT
    "K",            ID_DOOR_USERKEYBOARDOFF, VIRTKEY, CONTROL, NOINVERT
    "L",            ID_DOOR_LOCKOUT,        VIRTKEY, CONTROL, NOINVERT
    "N",            ID_DOOR_SYSOPNEXT,      VIRTKEY, CONTROL, NOINVERT
    "X",            ID_DOOR_EXIT,           VIRTKEY, CONTROL, NOINVERT
    VK_DOWN,        ID_USER_SUBTRACTFIVEMINUTES, VIRTKEY, CONTROL, NOINVERT
    VK_DOWN,        ID_USER_SUBTRACTONEMINUTE, VIRTKEY, SHIFT, NOINVERT
    VK_F1,          ID_HELP_CONTENTS,       VIRTKEY, NOINVERT
    VK_UP,          ID_USER_ADDFIVEMINUTES, VIRTKEY, CONTROL, NOINVERT
    VK_UP,          ID_USER_ADDONEMINUTE,   VIRTKEY, SHIFT, NOINVERT
END
*/
IDR_FRAME ACCELERATORS DISCARDABLE 
BEGIN
    "C",            ID_DOOR_CHATMODE,       VIRTKEY, ALT, NOINVERT
    "H",            ID_DOOR_HANGUP,         VIRTKEY, ALT, NOINVERT
    "K",            ID_DOOR_USERKEYBOARDOFF, VIRTKEY, ALT, NOINVERT
    "L",            ID_DOOR_LOCKOUT,        VIRTKEY, ALT, NOINVERT
    "N",            ID_DOOR_SYSOPNEXT,      VIRTKEY, ALT, NOINVERT
    "X",            ID_DOOR_EXIT,           VIRTKEY, ALT, NOINVERT
    VK_DOWN,        ID_USER_SUBTRACTFIVEMINUTES, VIRTKEY, ALT, NOINVERT
    VK_DOWN,        ID_USER_SUBTRACTONEMINUTE, VIRTKEY, SHIFT, NOINVERT
    VK_F1,          ID_HELP_CONTENTS,       VIRTKEY, NOINVERT
    VK_UP,          ID_USER_ADDFIVEMINUTES, VIRTKEY, ALT, NOINVERT
    VK_UP,          ID_USER_ADDONEMINUTE,   VIRTKEY, SHIFT, NOINVERT
END


/* ========================================================================= */
/* String Resources.                                                         */
/* ========================================================================= */

STRINGTABLE DISCARDABLE 
BEGIN
    ID_DOOR_CHATMODE        "Enters or exits chat mode, allowing you to communicate with the remote user."
    ID_DOOR_USERKEYBOARDOFF "Causes any keys or commands from the remote user to be ignored."
    ID_DOOR_SYSOPNEXT       "Reserves the system for the sysop after this user logs off (if supported by BBS)."
    ID_DOOR_HANGUP          "Hangs up the modem and exits the door."
    ID_USER_ADDONEMINUTE    "Increases the user's time remaining by one minute."
    ID_USER_ADDFIVEMINUTES  "Increases the user's time remaining by five minutes."
    ID_USER_SUBTRACTONEMINUTE 
                            "Decreases the user's time remaining by one minute."
    ID_USER_SUBTRACTFIVEMINUTES 
                            "Decreases the user's time remaining by five minutes."
    ID_USER_INACTIVITYTIMER "Enables the timer that will log off the user after a long period of no activity."
    ID_HELP_ABOUT           "Displays program information and copyright."
    ID_VIEW_TOOL_BAR        "Shows or hides the toolbar."
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_DOOR_EXIT            "Exits the door without hanging up."
    ID_DOOR_LOCKOUT         "Hangs up the modem, denying any further access to the user (if supported by BBS)."
    ID_VIEW_STAT_BAR        "Shows or hides the status bar."
END
