/* Alternating rows in lists of messages, Who's Online, etc. */
.striped:nth-of-type(even), .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background: #F2F2F2;
}

/* A link in a list when the mouse is hovering over it (mostly applies to the Forum) */
a.list-group-item:hover, a.list-group-item:active, li.list-group-item.mail:hover {
	background-color: #A9E2F3;
}

/* A link to a scanned sub in a list, should you wish to style it, I guess. */
a.list-group-item.scanned:hover {
}

/* An unread mail message in the list view. */
a.unread {
	background: #FFFFFF;
}

span.badge.new {
	background: #2E9AFE;
	color: #FFFFFF;
}

/* A read mail message in the list view. */
a.read {
	background: #E6E6E6;
}

/* Unread-message indicator for scanned subs. */
span.badge.scanned {
	background-color: #2E9AFE;
}

/* Unread-message indicator for all subs. */
span.badge.total {
}

/* Inline quoted text in a message. */
blockquote {
	font-size: 14px;
	border-left : 5px solid #A4A4A4;
}

/* The 'current' message being viewed in a thread. */
li.current {
	border-left-color : #000000;
	border-right-color : #000000;
}

/* Unused? */
span.message-header.unread {
	background-color: #FCF8E3;
}

div.bbs-view {
	background-color: #000000;
	color: #A8A8A8;
	font-family: Courier New, monospace;
	line-height: 1;
	overflow: hidden;
	white-space: pre;
	display: inline-block;
}

/*** Dark mode ***/

/* default links, like the breadcrumbs */
.dark a {
	color: #75b8f1;
}

/* background of the top bar */
.dark .navbar {
	background-color: #222;
}

/* bbs name at top left */
.dark .navbar-brand {
	color: #ccc;
}
.dark .navbar-brand:hover {
	color: #fff;
}

/* hover for the top nav buttons */
.dark .navbar-default a:hover {
	color: #8cc1ee !important;
	color: #fff;
	background-color: #222 !important;
}

/* the active top nav button when opened */
.dark .navbar-default .navbar-nav>.open>a,
.dark.navbar-default .navbar-nav>.open>a:focus,
.dark.navbar-default .navbar-nav>.open>a:hover {
	background-color: #333;
	color: #EEE;
}

/* dropdown menus */
.dark .dropdown-menu {
	background-color: #222;
}
.dark .dropdown-menu li a {
	color: #75b8f1;
}

/* background color of alternate rows in lists */
.dark .striped:nth-of-type(even), .dark .table-striped > tbody > tr:nth-child(odd) > td, .dark  .table-striped > tbody > tr:nth-child(odd) > th {
	background: #222;
}

/* this is the text and color for most items, including non-alternating rows */
.dark .list-group-item {
	background-color: #333;
	color: #ddd;
	border-color: #888;
}

/* A link in a list when the mouse is hovering over it (mostly applies to the Forum) */
.dark a.list-group-item:hover, .dark  a.list-group-item:active {
	background-color: #888;
	color: #222;
}

.dark li.list-group-item.mail:hover {
	background-color: #888;
	color: #FFF;
}

/* background color for the breadcrumb box */
.dark .breadcrumb {
	background-color: #333;
}

/*** You probably don't need to mess with rules below this line. ***/

blockquote {
	margin: .5em;
	padding: .5em;
}

div.message {
	margin: 1em 0 1em 0;
}

input.dropdown {
	clear: both;
	margin: 0 0 1em 0;
}

pre.ansi {
	background-color : black;
	font-family : Courier New, monospace;
	line-height : 1;
}

pre.list {
	color : inherit;
	background-color : inherit;
	border : none;
}

.list-group-item.sidebar {
	overflow: hidden;
	word-wrap: break-word;
}

.list-group-item.sidebar:empty {
	display: none;
}

.icon {
	margin: 0 1em 1em 0;
}

.reply {
	margin: 1em 0 1em 0;
}

/* Upvote button */
.btn-uv { }

/* Downvote button */
.btn-dv { }

.upvote-bg {
	background-color : #F0B27A;
}

.downvote-bg {
	background-color : #85C1E9;
}

.upvote-fg, .upvote:hover {
	color : #F0B27A;
}

.downvote-fg, .downvote:hover {
	color : #85C1E9;
}

.indicator {
    background-color: transparent !important;
    -webkit-animation: indicator-fade 3s ease 0s 1 alternate !important;
}

@-webkit-keyframes indicator-fade {
    from { background-color: #82E0AA; }
    to { background-color: transparent; }
}

-moz-animation: indicator-fade 3s ease 0s 1 alternate !important;
}

@-moz-keyframes indicator-fade {
    from { background-color: #82E0AA; }
    to { background-color: transparent; }
}

-ms-animation: indicator-fade 3s ease 0s 1 alternate !important;
}

@-ms-keyframes indicator-fade {
    from { background-color: #82E0AA; }
    to { background-color: transparent; }
}

-o-animation: indicator-fade 3s ease 0s 1 alternate !important;
}

@-o-keyframes indicator-fade {
    from { background-color: #82E0AA;}
    to { background-color: transparent; }
}

animation: indicator-fade 3s ease 0s 1 alternate !important;
}

@keyframes indicator-fade {
    from { background-color: #82E0AA;}
    to { background-color: transparent; }
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
} 

.breadcrumb {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.breadcrumb li {
	display: inline;
}

.dark {
	background-color: #222 !important;
	color: #eee;
}

.dark span.badge.ignored {
	background-color: #aaa;
}

.dark .text-danger {
	color: #ef1c18;
}

.dark .text-success {
	color: #3eef41;
}

.dark a.btn, .dark .icon {
	color: #000;
	background-color: #ddd !important;
}

.dark .btn {
	color: #000;
	background-color: #ddd ;
}

.dark .btn-primary {
	color: #FFF;
	background-color: #337ab7;
}

.dark a.btn :hover, .dark .icon:hover {
	color: #000;
	background-color: #fff !important;
}

@media (max-width: 767px) {
	.dark-switch {
		padding: 10px 15px;
	}
}

@media (min-width: 768px) {
	.dark-switch {
		padding: 0px;
	}
}

.dark .modal-content {
	background-color: #333 !important;
	color: #ddd !important;
}

.darkswitchbox {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.dark input,.dark select,.dark textarea {
	color: #111;
	background-color: #DDD;
}

.breadcrumb li.no-before::before {
	content: none;
}