<!--
  * For use with macOS/darwin, tested with Darwin Kernel Version 24.1.0
  * Copy this file to /Library/LaunchDaemons/
  * Install with 'sudo launchctl bootstrap system /Library/LaunchDaemons/net.synchro.sbbs'
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.synchro.sbbs</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>SBBSCTRL</key>
		<string>/sbbs/ctrl</string>
		<key>DYLD_LIBRARY_PATH</key>
		<string>/Users/sbbs/sbbs/src/sbbs3/clang.darwin.arm64.lib.debug</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/sbbs/sbbs/src/sbbs3/clang.darwin.arm64.exe.debug/sbbs</string>
		<string>syslog</string>
	</array>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
