/* blocktastic-r by echicken */

/* HTML input elements, (eg. text inputs, buttons.) */
button, input {
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
}

textarea {
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	background-color: #000000;
}

/* The background of the top level of the page */
.backdropColor {
	background-color: #000000;
}

/* Colors applied to heading boxes in the forum (eg. board names) */
.subBoardHeaderColor {
	background-color: #666666;
	color: #000000;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}

/* Colors applied to boxes below the heading boxes in the forum (eg. messages) */
.messageBoxColor {
	background-color: #666666;
	color: #000000;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}

/* The font that is used most of the time. */
.standardFont {
	font-family: arial,helvetica;
	font-size: 10pt;
}

/* The font used in the page header and for page titles (eg. "Message Forum") */
.titleFont {
	font-size: 16pt;
	font-weight: bold;
}

/* The font that is used for items such as message subjects and message group names. */
.headingFont {
	/* Message group names, subject lines */
	font-weight: bold;
}

/* Set a font-family, etc. here if you want a different (eg. monospace) font
   for messages in the forum. */
.messageFont {

}

/* The foreground and background colors used most in most places. */
.standardColor {
	color: #FFFFFF;
}

/* The border that is drawn around the various 'boxes' that make up each page. */
.standardBorder {
	border-style: none;
	border-width: 1px;
}

/* The buffer between certain elements. Best left as is. */
.standardMargin {
	margin: 10px;
}

/* The buffer between certain elements' borders and their contents. Best left as is. */
.standardPadding {
	padding: 10px;
}

/* The buffer between certain elements and the elements below them. Best left as is. */
.underMargin {
	margin-bottom: 10px;
}

/* The amount certain items are indented (particularly in the forum.) */
.treeIndent {
	margin-left: 40px;
}

/* As above, but for items that need to be indented even more. */
.subTreeIndent {
	margin-left: 80px;
}

/* By default, the inverse of .standardColor. Not currently used. */
.reverseColor {
	color: #000000;
	background-color: #FFFFFF;
}

/* For use with <hr>, draws a thin, solid line. Deprecated and not currently used. */
.line {
	width: 100%;
	border: 0;
	color: #FFFFFF;
	background-color: #FFFFFF;
	height: 1px;
}

/* The style applied to most hyperlinks. */
.link { 
	text-decoration: none;
	font-weight: bold;
}

.link:link  {
	color: #FFFFFF;
	background-color: #330033;
}

.link:visited {
	color: #FFFFFF;
	background-color: #330033;
}

.link:hover {
	color: #330033;
	background-color: #FFFFFF;
}

.link:active {
	color: #330033;
	background-color: #FFFFFF;
}

/* The style applied to certain hyperlinks, especially in the forum. */
.ulLink { 
	text-decoration: none;
	font-weight: bold;
}

.ulLink:link  {
	color: #000000;
}

.ulLink:visited {
	color: #000000;
}

.ulLink:hover {
	color: #000000;
	text-decoration: underline;
}

.ulLink:active {
	color: #000000;
	text-decoration: underline;
}

.fakeUlLink {
	text-decoration: underline;
}

.textFile {
	width: 765px;
	/* Wrapping stuff from http://www.longren.org/wrapping-text-inside-pre-tags/ */
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* This is the container that holds the header, footer, sidebar, and main
   content of the page. (eg. the white box hovering over the grey backdrop
   in the 'stocktastic' theme.) */
#container {
	width: 1024px;
	text-align: left;
}

/* This is the container that holds the header content. (eg. system.name) */
#header {
	width: 1024px;
	clear: both;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	background-color: #330033;
}

/* This is the container that holds the sidebar widgets. */
#sidebar {
	width: 255px;
	float: right;
	border-style: none;
	margin-right: -10px;
}

/* Styles for the sidebar widget boxes can be set here. */
.sidebarBox {
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	background-color: #330033;
}

/* This is the container that holds the main content of the page (eg. the 
   portion below the header, beside the sidebar, above the footer.) */
#content {
	width: 765px;
	float: left;
	margin-top: 10px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	background-color: #330033;
}

/* This is the container that holds the footer content. (eg. a Synchronet
   version statement.) */
#footer {
	width: 1024px;
	clear: both;
	text-align: right;
	font-style: italic;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;	
	background-color: #330033;
}
